APP_PORT=6661
OPENAI_ENDPOINT=http://localhost:11434/v1
OPENAI_API_KEY=ollama
MODEL=qwen3:1.7b
EMBEDDING_ENDPOINT=http://localhost:11434/v1
EMBEDDING_API_KEY=ollama
EMBEDDING_MODEL=nomic-embed-text
TOP_K=4
RAG_THRESHOLD=0.50
